<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Contract</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="insert" th:insert="~{/layout::header}"></div>
<h1 style="text-align: center; margin: 10px auto">List Contract</h1>
<p th:text="${mess}" style="text-align: center; color: red; font-size: 25px"></p>
<div class="col-lg-2">
    <button class="btn btn-outline-primary" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal3">Thêm
        mới
    </button>
</div>
<table class="table table-striped mt-3">
    <tr>
        <th>STT</th>
        <th>Facility Name</th>
        <th>Customer Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Total Payment</th>
        <th>Attach Facility</th>
    </tr>
    <tr th:each="contract, status : ${contractList.content}">
        <td th:text="${status.count}"></td>
        <td th:text="${contract.getNameFacility()}"></td>
        <td th:text="${contract.getNameCustomer()}"></td>
        <td th:text="${contract.getStartDate()}"></td>
        <td th:text="${contract.getEndDate()}"></td>
        <td th:text="${contract.getDeposit()}"></td>
        <td th:text="${contract.getSumMoney()}"></td>
        <td>
            <button th:attr="onclick=|infoContract(${contract.getId()})|" type="button"
                    class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                +
            </button>
            <button th:attr="onclick=|listAttachFacility(${contract.getId()})|" type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                Danh sách dịch vụ đi kèm
            </button>
        </td>
    </tr>
</table>

<!-- Thêm mới hợp đồng-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Create Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/add}" method="post" th:object="${contract}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label th:for="startDate" class="form-label">Start Date</label>
                        <input th:field="*{startDate}" type="date" class="form-control width-form">
                    </div>
                    <div class="mb-3">
                        <label th:for="endDate" class="form-label">End Date</label>
                        <input th:field="*{endDate}" type="date" class="form-control width-form">
                    </div>
                    <div class="mb-3">
                        <label th:for="deposit" class="form-label">Deposit</label>
                        <input th:field="*{deposit}" type="text" class="form-control width-form">
                    </div>
                    <div class="mb-3">
                        <label th:for="customer" class="form-label">Customer</label>
                        <select th:field="*{customer}">
                            <option th:each="customer : ${customerList}" th:value="${customer.id}"
                                    th:text="${customer.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:for="employee" class="form-label">Employee</label>
                        <select th:field="*{employee}">
                            <option th:each="employee : ${employeeList}" th:value="${employee.id}"
                                    th:text="${employee.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label th:for="facility" class="form-label">Facility</label>
                        <select th:field="*{facility}">
                            <option th:each="facility : ${facilityList}" th:value="${facility.id}"
                                    th:text="${facility.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--     Modal thêm mới dịch vụ đi kèm-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Attach Facility</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form style="height: 300px" method="post" th:object="${contractDetail}"
                      th:action="@{/contract/createContractDetail}">
                    <div hidden class="mb-3">
                        <label for="idContract" class="form-label">Contract Id</label>
                        <input type="text" class="form-control" id="idContract" th:field="*{contract}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail7" class="form-label">Attach Facility Name</label>
                        <select id="exampleInputEmail7" th:field="*{attachFacility}"
                                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option th:each="attachFacility:${attachFacilityList}"
                                    th:text="${attachFacility.name}" th:value="${attachFacility.id}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail11" class="form-label">Quantity</label>
                        <input type="number" min="1" class="form-control" id="exampleInputEmail11"
                               aria-describedby="emailHelp" th:field="*{quantity}">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Contract</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!--danh sách dịch vị đi kèm-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">List Attach Facility</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Facility Name</th>
                        <th>Cost</th>
                        <th>Unit</th>
                        <th>Status</th>
                        <th>Quantity</th>
                        <th>Sum Money</th>
                    </tr>
                    </thead>
                    <tbody id="myTableContractDetail">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--phân trang-->
<div style="text-align: right; margin-right: 25px">
    <a class="btn btn-secondary" th:href="@{/contract(page=${contractList.number - 1})}"
       th:if="${contractList.hasPrevious()}">
        Previous
    </a>
    <span th:text="${contractList.number + 1 + '/' + contractList.totalPages}"></span>
    <a class="btn btn-primary" th:href="@{/contract(page=${contractList.number + 1})}"
       th:if="${contractList.hasNext()}">
        Next
    </a>
</div>
<div class="insert" th:insert="~{/layout::footer}"></div>

<script>
    function infoContract(id) {
        document.getElementById("idContract").value = id;
    }
</script>

<!-- hiển thị chi tiết đối tượng bằng ajac-->
<script>
    function listAttachFacility(id) {
        $.ajax({
            url: "http://localhost:8080/api-attachFacility/showListAttachFacility/" + id,
            type: "GET",
            contentType: "application/json; charset =utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data)
                let myTableContractDetail = "";
                for (let i = 0; i < data.length; i++) {
                    myTableContractDetail +=
                        `<tr>
                               <th>${i + 1}</th>
                               <td>${data[i].name}</td>
                               // <td>${data[i].cost}</td>
                               // <td>${data[i].unit}</td>
                               // <td>${data[i].status}</td>
                               // <td>${data[i].sumQuantity}</td>
                               // <td>${data[i].sumMoney}</td>
                         </tr>
                             `
                }
                $("#myTableContractDetail").html(myTableContractDetail);
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
