<h1 style="text-align: center; margin: 10px auto">List Customer</h1>
<div class="row mt-2">
  <div class="col-lg-12 d-flex justify-content-center align-items-center">
    <form class="d-flex">
      <input class="form-control me-2" name="name" type="search" placeholder="Search name" aria-label="Search">
      <input class="form-control me-2" name="email" type="search" placeholder="Search email" aria-label="Search">
      <input class="form-control me-2" name="customerType" type="search" placeholder="Search customer type"
             aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
<!--<p th:text="${mess}" style="text-align: center; color: red; font-size: 25px"></p>-->
<table class="table table-striped mt-3">
  <thead>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>ID Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th></th>
    <th style="text-align: center"><a th:href="@{/customer/add}">
      <button type="submit"><img
        src="https://img.icons8.com/ios/50/null/add-user-group-man-man--v1.png" width="30"/></button>
    </a></th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td th:text="${status.count}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.dateOfBirth}"></td>
    <td th:text="${customer.gender}?Nam:Nữ"></td>
    <td th:text="${customer.idCard}"></td>
    <td th:text="${customer.phoneNumber}"></td>
    <td th:text="${customer.email}"></td>
    <td th:text="${customer.address}"></td>
    <td th:text="${customer.customerType.name}"></td>
    <td>
      <a th:href="@{/customer/edit/__${customer.id}__}">
        <button class="btn btn-outline-primary">Edit</button>
      </a>
    </td>
    <td>
      <button th:attr="onclick=|infoDelete('${customer.id}','${customer.name}')|" type="button"
              class="btn btn-outline-danger"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!--xóa bằng modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/customer/delete" method="post">
        <div class="modal-body">
          <input hidden id="deleteId" name="deleteId" type="text">
          <span>do you want to delete the customer named </span><span id="deleteName"
                                                                      style="color: red"></span><span> ?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
